<div class="container">
    <% flash.each do |name, msg| %>
      <div class="flash text-success<%= name %>">
        <%= msg.html_safe %>
      </div>
    <% end %>
    <div class="row">
        <div class="col-xs-3">
            <%= render 'users/list', user: @user %>
        </div>
        <div class="col-xs-9">
            <h1>Book detail</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <% if current_user.id == @books.user_id %>
                        <th></th>
                        <th></th>
                        <% end %>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>
                          <%= attachment_image_tag @books.user, :profile_image, :fill, 60, 60, class:"pull-left, profile-thumb", fallback: "no_image.jpg", size:'30x30' %>
                          <div>
                            <%= link_to user_path(@books.user), class:"link-btn" do %><%= @books.user.name %><% end %>
                          </div>
                      </td>
                      <td><%= link_to book_path(@books), class:"link-btn" do %><%= @books.title %><% end %></td>
                      <td><%= @books.body %></td>
                      <% if current_user.id == @books.user_id %>
                      <td><%= link_to edit_book_path(@books), class:"btn btn-success" do %>Edit<% end %></td>
                      <td><%= link_to book_path(@books), method: :delete, "data-confirm"=> "本当に削除しますか？", class:"btn btn-danger" do %>Destroy<% end %></td>
                      <% end %>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>