<div class="container">
    <div class="row">
        <div class="col-md-3">
           <h1>User info</h1>
            <%= attachment_image_tag @books.user, :profile_image, :fill, 60, 60, class:"pull-left, profile-thumb", fallback: "no_image.jpg" %>
            <table class="table">
                <thred>
                    <tr>
                        <th>name</th>
                        <th><%= @books.user.name %></th>
                    </tr>
                    <tr>
                        <th>introduction</th>
                        <th><%#= current_user.introduction %></th>
                    </tr>
                </thred>
            </table>
            <div class= "btn btn-default col-xs-12">
                <%= link_to edit_user_path(current_user.id) do %><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><% end %>
            </div>
            <h1>New Book</h1>
            <%= form_with model:@book, local:true do |f| %>
            <div class="field">
                <div>
                    <%= f.label :title %>
                </div>
                <div>
                <%= f.text_field :title %>
                </div>
            </div>
            <div class="opinion">
                <div>
                    <%= f.label :opinion %>
                </div>
                <div>
                    <%= f.text_area :opinion %>
                </div>
            </div>
            <div>
                <%= f.submit 'Create Book' , class:"btn btn-primary" %>
            </div>
            <% end %>
        </div>
        <div class="col-md-9">
            <h1>Book detail</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <% if current_user.id == @books.user_id %>
                        <th></th>
                        <th></th>
                        <% end %>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>
                          <%= attachment_image_tag @books.user, :profile_image, :fill, 60, 60, class:"pull-left, profile-thumb", fallback: "no_image.jpg", size:'30x30' %>
                          <div>
                            <%= link_to user_path(@books.user), class:"link-btn" do %><%= @books.user.name %><% end %>
                          </div>
                      </td>
                      <td><%= link_to book_path(@books), class:"link-btn" do %><%= @books.title %><% end %></td>
                      <td><%= @books.opinion %></td>
                      <% if current_user.id == @books.user_id %>
                      <td><%= link_to edit_book_path(@books), class:"btn btn-success" do %>Edit<% end %></td>
                      <td><%= link_to book_path(@books), method: :delete, class:"btn btn-danger" do %>Destroy<% end %></td>
                      <% end %>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>